.btn-twitchLogin{
	background-color: #6E3687;
	border-color: #6E3687;
}
.btn-twitchLogin:hover{
	background-color: #64317A;
	border-color: #64317A;
}
#callbacks{
	position: fixed;
	top: 55px;
	right: 20px;
	width: 300px;
	z-index: 1000;
}
#displayDiv{
	background-color: #00E821;
}
body{
	padding-top: 3em;
}